<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Notebook

Introduction

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)


## Data Science Languages
* Python
* R
* SQL
* Julia
* Java
* Scala

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## Data Science Libraries
** Python: **
* Pandas
* Numpy
* Matplotlib
* Scikit-learn
* Seaborn
* Keras
* PyTorch
* NLTK
* TensorFlow

**R:**
* dplyr
* ggplot2
* tidyr
* shiny
* caret
* data.table
* lubridate
* stringr
* plotly

Exercise 4 - Create a markdown cell with a table of Data Science tools. (3 pts)

## Data Science Tools
| Tool              | Description                                                     |
|-------------------|-----------------------------------------------------------------|
| Jupyter Notebook  | Web application for creating and sharing documents with code    |
| RStudio           | IDE for R                                                       |
| Anaconda          | Distribution of Python and R for data science                   |
| Spyder            | IDE for scientific programming in Python                        |
| VS Code           | Source-code editor developed by Microsoft                       |
| Google Colab      | Free Jupyter notebook environment that runs in the cloud        |
| Apache Hadoop     | Framework for distributed processing of large data sets         |
| Apache Spark      | Unified analytics engine for large-scale data processing        |
| Tableau           | Interactive data visualization software                         |
| Power BI          | Business analytics service by Microsoft                         |
| KNIME             | Open-source software for creating data science workflows        |
| RapidMiner        | Data science software platform                                  |
| Weka              | Collection of machine learning algorithms for data mining tasks |
| TensorBoard       | Visualization toolkit for TensorFlow                            |
| Git               | Version control system for tracking changes in source code      |
| Docker            | Platform for developing, shipping, and running applications     |
| Kubernetes        | Container-orchestration system                                  |
| Airflow           | Platform to programmatically author, schedule, and monitor workflows |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

## Arithmetic Expression Examples

Arithmetic expressions are used to perform mathematical operations such as addition, subtraction, multiplication, and division. Below are some examples of basic arithmetic operations:

1. **Addition (+)**
   - Adds two numbers together.
   - Example: `3 + 2 = 5`

2. **Subtraction (-)**
   - Subtracts the second number from the first number.
   - Example: `5 - 2 = 3`

3. **Multiplication (*)**
   - Multiplies two numbers.
   - Example: `4 * 3 = 12`

4. **Division (/)** 
   - Divides the first number by the second number.
   - Example: `10 / 2 = 5`

5. **Exponentiation (**) **
   - Raises the first number to the power of the second number.
   - Example: `2 ** 3 = 8`

6. **Modulo (%)**
   - Returns the remainder of the division of the first number by the second number.
   - Example: `7 % 3 = 1`

These operations can be used in combination to perform more complex calculations. Below, we'll demonstrate a simple example of multiplying and adding numbers, as well as converting minutes to hours.

In [4]:

#Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

# Multiplying and adding numbers
a = 5
b = 2
c = 3
result = (a * b) + c
result

13

In [5]:
# Exercise 9 - Create a code cell t convert minutes to hours (2 pts)

# Converting minutes to hours
minutes = 120
hours = minutes/60
hours

2.0

Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)

### Objectives 

* Understand the basics of Jupyter Notebook.
* Learn to use Markdown for documentation.
* Familiarize with data science languages and libraries.
* Perform basic arithmetic operations.
* Convert units of measurement.
* Share and document your work effectively.

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
## Author - Grace Nneji